<div class="featurestopics text-center">
    <div class="comments featuretopics">
    	<div class="form-group edit">
    		<%= form_for(comment, url: post_comments_path(post), method: :post, authenticity_token: true, remote: true, html: { id: "comment-create-form", multipart: true }) do |f| %>
                <div class="form-group">
                    <h4 class="text-center"> 
                        Post Image 
                    </h4>   
                        <div id="preview-image">
                            <% if comment.image? %>
                            <%= image_tag comment.image, class: "img-settings img-responsive center-block" %>
                            <% end %>
                        </div>
                </div>

                <div class="form-group">
                    <div class="previewimage">
                        <%= f.file_field :image, id: "post_image_field", class: 'form-control image-uploader' %>
                    </div>
                </div>
        
                    <%= f.label :text_field, "Comment description." %>  
                    <%= f.text_field :body, id: "comment_body_field", class: 'form-control' %>
            <br>
                <div class="form-group text-center">
                    <%= f.submit "Create Comment", class: "btn btn-success btn-lg" %>
                </div>
            <% end %>
	    </div>  
   	</div> 
</div>
