<div class="landing">

	<div class="background text-center">
		<div class="content">
			<h1> Welcome.</h1>
		</div>
	</div>

	<div class="bg2 text-center">
		<div class="content">
			<h1><i>PERSPEKT: Sep 2016.</i> </h1>
		</div>
	</div>


	<section class="features">
		  <div class="feature text-center">
			<%= fa_icon 'universal-access 5x' %>
			<h5> An unparalleled world. </h5>
		  </div>
		  <div class="feature text-center">
		  	<%= fa_icon 'gitlab 5x' %>
		  	<h5> All your questions answered. </h5>
		  </div>
		  <div class="feature text-center">
		    <%= fa_icon 'instagram 5x' %>
		  	<h5> Your life events documented. </h5>
		  </div>
		  <div class="feature text-center">
		  	<%= fa_icon 'bed 5x' %>
		  	<h5> No more problems. No more worries. </h5>
		  </div>
	</section>

	<div class="text-center">
		<div class="imagebox">
			<div class="invisible-layout">
				<h3>I am a storybook with untold stories.</h3>
			</div>	
				<%= image_tag "https://hd.unsplash.com/photo-1470169048093-08ac89858749", class:"img-settings" %>
		</div>			
		<div class="imagebox">
			<div class="invisible-layout">
				<h3>I transform lives meshing new metals with new metas.</h3>
			</div>	
				<%= image_tag "https://hd.unsplash.com/photo-1470133294210-94114cf67cc6", class:"img-settings" %>
		</div>	
		<div class="imagebox">
			<div class="invisible-layout">
				<h3>I am a mountain. Yes, a <i>mountain</i>.</h3>
			</div>	
				<%= image_tag "https://hd.unsplash.com/photo-1470138831303-3e77dd49163e", class:"img-settings" %>
		</div>		
		<div class="imagebox">
			<div class="invisible-layout">
				<h3>I am both the eyes on the ice and the ice on the eyes.</h3>
			</div>	
				<%= image_tag "https://hd.unsplash.com/photo-1470181446350-2d7024be15be", class:"img-settings" %>
		</div>	
	</div>		


	<section class="contacts">
		<div class="h1 text-center"><i>Join Us.</i></div>
			<hr class="primary">
			<div class="h2 text-center">Burning questions are what killed the cat. <br>Your curiosity can only be quenched through an unexhaustible thirst of knowledge not yet known.</div>

			<div class="features">
			<div class="features text-center">	
				<%= link_to "https://www.facebook.com/makingheadsortails", :target => "_blank" do %>
				<%= fa_icon "facebook-square 5x" %>
				<div>Join us here.</div>
			<% end %>

			</div>
				<div class="features">
					<div class="feature text-center">
						<%= fa_icon "phone 3x" %>
						<h5>1800 88 1337</h5>
					</div>
					<div class="feature text-center">
						<%= mail_to "questions@answered.com" do %>
						<%= fa_icon "envelope-o 3x" %>
						<div>questions@answered.com</div>
					<% end %>	
					</div>	

					<div class="feature text-center">
						<%= fa_icon "bicycle 3x" %>
						<h5>Solutions Inc, 1 Infinity Loop, Silicon Valley, USA</h5>
					</div>	
									<div class="feature text-center">
						<%= fa_icon "globe 3x" %>
						<h5>Solutions Inc, 11 Wallaby Way, Sydney, AUS</h5>
					</div>	
									<div class="feature text-center">
						<%= fa_icon "building 3x" %>
						<h5>Solutions Inc, #90-01 The Burj Khalifa, Dubai, UAE</h5>
					</div>	
				</div>
			</div>		
		</div>		
	</section>		

</div>