<div class="topics">

	<div class="topics text-center">
		<div class="content">
			<h1> Posts.</h1>
		</div>
	</div>
</div>	
<br>
<br>
<br>

<div class="wrapper">
	<%= @topic %>
	<br>
	<br>
	<%= link_to new_topic_post_path(@topic), :target => "" do %>
	<button type="button">Make a new post.</button>
	<% end %>
</div>

<div class="featurestopics text-center img-settings">
	<% @posts.each do |post| %>
	    <div class="featuretopics">
	    <br>
	    	<%= link_to edit_topic_post_path(@topic, post) do %>	
	  		<button type="button">Edit Post</button>
	  		<% end %>
	  		<br>
	  		<br>
	  		<%= image_tag post.image.thumb %>
	  	    <h2><%= link_to post.title, post_comments_path(post) %></h2> 
    		<h3><% post.title %></h3>
    		<h4><%= post.body %></h5>
    		<div>
    			<%= link_to "Delete", topic_post_path(@topic, post), method: :delete, data: { confirm: "Are you sure?" } %>
    		</div>
	    <br>
	    <br>
	    <br>
	  </div>
	<% end %>
</div>	
